@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");
html {
  font-size: 10px;
}

body {
  font-family: "Manrope", sans-serif;
  color: #000;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 768px) {
  .container {
    max-width: 600px;
  }
}

.header {
  display: flex;
  gap: 5rem;
  padding-top: 1.4rem;
}
@media (max-width: 1280px) {
  .header {
    gap: 0;
    justify-content: space-between;
  }
}
@media (max-width: 500px) {
  .header {
    padding-top: 9px;
  }
}
@media (max-width: 900px) {
  .header__logo-img {
    width: 150px;
  }
}
@media (max-width: 500px) {
  .header__logo-img {
    width: 98px;
    height: 62px;
  }
}
.header__navigation {
  padding-top: 24px;
}
@media (max-width: 900px) {
  .header__navigation {
    display: none;
  }
}
.header__nav {
  padding-left: 0;
  display: flex;
  gap: 4.6rem;
  width: 722px;
  position: relative;
}
@media (max-width: 1280px) {
  .header__nav {
    gap: 2rem;
    width: 632px;
  }
}
@media (max-width: 1100px) {
  .header__nav {
    gap: 1.1rem;
    width: 560px;
  }
}
.header__menu {
  display: none;
  width: 40px;
  height: 47px;
  background-color: inherit;
  background-image: url("../images/burger.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  cursor: pointer;
  align-self: center;
}
@media (max-width: 900px) {
  .header__menu {
    display: block;
  }
}
.header__item {
  list-style-type: none;
}
.header__item:last-child {
  padding: 7px 19px 6px 19px;
  border: 2px dotted #F754E7;
  position: absolute;
  top: -10px;
  right: 33px;
}
@media (max-width: 1100px) {
  .header__item:last-child {
    right: 8px;
  }
}
.header__link {
  text-decoration: none;
  color: #000;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.03rem;
  position: relative;
}
.header__link::after {
  content: "";
  width: 1%;
  height: 2px;
  opacity: 0;
  background: #FF86F4;
  display: block;
  transition: 0.3s linear;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
}
.header__link:hover::after {
  width: 100%;
  opacity: 1;
}
.header__contacts {
  padding-top: 3.3rem;
  min-width: 133px;
}
@media (max-width: 900px) {
  .header__contacts {
    display: none;
  }
}
.header-tel {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  color: #000;
}
.header-social {
  padding-left: 0;
  display: flex;
  margin-top: 0;
  gap: 0.5rem;
}
.header-social__item {
  list-style-type: none;
}
.header-social__link {
  display: block;
  width: 40px;
  height: 40px;
  background-size: 24px 20px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.3s;
}
.header-social__fb {
  background-image: url("../images/facebook.svg");
}
.header-social__fb:hover {
  transform: scale(1.2);
}
.header-social__vk {
  background-image: url("../images/vk.svg");
}
.header-social__vk:hover {
  transform: scale(1.2);
}
.header-social__inst {
  background-image: url("../images/instagram.svg");
}
.header-social__inst:hover {
  transform: scale(1.2);
}

.senior-group {
  margin-top: 156px;
  position: relative;
}
@media (max-width: 900px) {
  .senior-group {
    margin-top: 97px;
  }
}
.senior-group_title {
  font-size: 4rem;
  font-weight: 500;
  line-height: 6rem;
  text-align: center;
  width: 1000px;
  margin-left: 85px;
  margin-bottom: 28px;
}
@media (max-width: 1200px) {
  .senior-group_title {
    margin: 0 auto 28px;
  }
}
@media (max-width: 1100px) {
  .senior-group_title {
    font-size: 2.8rem;
    line-height: 5rem;
    width: auto;
  }
}
@media (max-width: 768px) {
  .senior-group_title {
    margin-bottom: 36px;
    line-height: 3.2rem;
    letter-spacing: 2px;
  }
}
@media (max-width: 500px) {
  .senior-group_title {
    margin-bottom: 20px;
    letter-spacing: 0;
  }
}
@media (max-width: 360px) {
  .senior-group_title {
    font-size: 2.4rem;
  }
}
@media (max-width: 768px) {
  .senior-group_title_span {
    display: block;
  }
}
.senior-group_text {
  font-size: 3.2rem;
  font-weight: 500;
  position: relative;
  text-align: center;
  margin: 0 0 0 41px;
}
@media (max-width: 1200px) {
  .senior-group_text {
    margin: auto;
  }
}
@media (max-width: 1100px) {
  .senior-group_text {
    font-size: 2.4rem;
  }
}
@media (max-width: 768px) {
  .senior-group_text {
    font-size: 2rem;
  }
}
.senior-group_text:before {
  content: "";
  width: 54px;
  height: 54px;
  background-image: url("../images/rhythmic-gimnastic.svg");
  background-size: 54px;
  position: absolute;
  top: -9px;
  left: 351px;
  z-index: -1;
}
@media (max-width: 1280px) {
  .senior-group_text:before {
    left: 317px;
  }
}
@media (max-width: 1100px) {
  .senior-group_text:before {
    width: 34px;
    height: 34px;
    background-size: 34px;
    left: 326px;
    top: -2px;
  }
}
@media (max-width: 1000px) {
  .senior-group_text:before {
    left: 269px;
  }
}
@media (max-width: 900px) {
  .senior-group_text:before {
    left: 211px;
  }
}
@media (max-width: 800px) {
  .senior-group_text:before {
    left: 169px;
  }
}
@media (max-width: 768px) {
  .senior-group_text:before {
    top: -7px;
    left: 137px;
  }
}
@media (max-width: 600px) {
  .senior-group_text:before {
    left: 92px;
  }
}
@media (max-width: 500px) {
  .senior-group_text:before {
    left: 44px;
  }
}
@media (max-width: 400px) {
  .senior-group_text:before {
    left: 32px;
  }
}
.senior-group__boxes {
  display: flex;
  gap: 14.7rem;
  margin-top: 78px;
  margin-left: 244px;
}
@media (max-width: 1200px) {
  .senior-group__boxes {
    gap: 0;
    justify-content: space-between;
    max-width: 700px;
    margin: 70px auto 0;
  }
}
@media (max-width: 600px) {
  .senior-group__boxes {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
}
@media (max-width: 500px) {
  .senior-group__boxes {
    margin-top: 50px;
  }
}
.senior-group__left-box {
  max-width: 270px;
  width: 270px;
  background: linear-gradient(197.55deg, #FF86F4 48.11%, #FFC7FC 108.6%);
  border-radius: 55px;
  text-align: center;
  transition: 0.3s linear;
}
.senior-group__left-box:hover {
  background: linear-gradient(175.51deg, #FF3DEC 3.64%, #FFBCFD 112.01%);
  box-shadow: 0 1px 29px rgba(255, 141, 237, 0.63);
}
.senior-group__left-box-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  position: relative;
  margin: 0;
  padding-top: 11.3rem;
}
.senior-group__left-box-title:before {
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../images/credit-card.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 36px;
  left: 106px;
}
.senior-group__left-box-price {
  font-size: 3rem;
  color: #fff;
  font-weight: 600;
  margin: 8px 0 27px;
}
.senior-group__left-box-link {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 60px;
  padding: 18px 32px;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  margin-bottom: 25px;
}
.senior-group__left-box-link:hover {
  background: linear-gradient(93.37deg, #7775E7 0%, #A93CF6 65.9%, #C41DFF 102.69%);
  border: 1px solid transparent;
  transition: 0.5s ease;
}
.senior-group__right-box {
  max-width: 270px;
  width: 270px;
  background: linear-gradient(197.55deg, #FF86F4 48.11%, #FFC7FC 108.6%);
  border-radius: 55px;
  text-align: center;
  transition: 0.3s linear;
}
.senior-group__right-box:hover {
  background: linear-gradient(175.51deg, #FF3DEC 3.64%, #FFBCFD 112.01%);
  box-shadow: 0 1px 29px rgba(255, 141, 237, 0.63);
}
.senior-group__right-box-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  position: relative;
  margin: 0;
  padding-top: 11.3rem;
}
.senior-group__right-box-title:before {
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../images/one.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 39px;
  left: 112px;
}
.senior-group__right-box-price {
  font-size: 3rem;
  color: #fff;
  font-weight: 600;
  margin: 8px 0 27px;
}
.senior-group__right-box-link {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 60px;
  padding: 18px 32px;
  transition: 0.3s ease-in-out;
  display: inline-block;
  margin-bottom: 25px;
}
.senior-group__right-box-link:hover {
  background: linear-gradient(93.37deg, #7775E7 0%, #A93CF6 65.9%, #C41DFF 102.69%);
  border: 1px solid transparent;
  transition: 0.5s ease;
}
.senior-group__timetable {
  margin: 80px 26px 0 0;
}
@media (max-width: 1000px) {
  .senior-group__timetable {
    margin: 0;
  }
}
.senior-group__timetable-title {
  font-size: 3.6rem;
  color: #000;
  font-weight: 600;
  text-align: center;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .senior-group__timetable-title {
    margin-bottom: 25px;
  }
}
@media (max-width: 600px) {
  .senior-group__timetable-title {
    font-size: 2.4rem;
  }
}
@media (max-width: 500px) {
  .senior-group__timetable-title {
    margin-top: 42px;
  }
}

.senior-group-hexagon {
  position: absolute;
  top: -117px;
  left: -356px;
  z-index: -5;
}
@media (max-width: 900px) {
  .senior-group-hexagon {
    top: -13px;
  }
}
@media (max-width: 768px) {
  .senior-group-hexagon {
    top: -40px;
    left: -463px;
  }
}
@media (max-width: 500px) {
  .senior-group-hexagon {
    top: -62px;
    left: -698px;
  }
}

.senior-group-circle {
  position: absolute;
  top: 100px;
  left: -251px;
  z-index: -1;
}
@media (max-width: 768px) {
  .senior-group-circle {
    width: 121px;
    height: 121px;
    top: 221px;
    left: -109px;
  }
}
@media (max-width: 600px) {
  .senior-group-circle {
    top: 423px;
    left: -48px;
    transform: rotate(85deg);
  }
}
@media (max-width: 500px) {
  .senior-group-circle {
    left: -82px;
  }
}

.ball-98 {
  position: absolute;
  top: 53px;
  left: -95px;
}
@media (max-width: 600px) {
  .ball-98 {
    display: none;
  }
}

.ball-91 {
  position: absolute;
  top: 516px;
  right: 24px;
}
@media (max-width: 1100px) {
  .ball-91 {
    display: none;
  }
}
@media (max-width: 768px) {
  .ball-91 {
    display: block;
    width: 27px;
    height: 27px;
    top: 956px;
    right: 137px;
  }
}
@media (max-width: 600px) {
  .ball-91 {
    top: 1100px;
  }
}
@media (max-width: 500px) {
  .ball-91 {
    top: 1149px;
    right: 19px;
  }
}

.ball-49 {
  position: absolute;
  top: -143px;
  right: 387px;
}
@media (max-width: 1100px) {
  .ball-49 {
    display: none;
  }
}

.ball-29 {
  position: absolute;
  top: 111px;
  right: -44px;
}
@media (max-width: 1100px) {
  .ball-29 {
    top: -151px;
    right: 373px;
  }
}
@media (max-width: 1000px) {
  .ball-29 {
    right: 275px;
  }
}
@media (max-width: 900px) {
  .ball-29 {
    top: -65px;
    right: 181px;
  }
}
@media (max-width: 768px) {
  .ball-29 {
    right: 101px;
  }
}
@media (max-width: 500px) {
  .ball-29 {
    top: -81px;
    right: 33px;
  }
}

.ball-29-left {
  position: absolute;
  top: 412px;
  left: -46px;
}
@media (max-width: 600px) {
  .ball-29-left {
    width: 22px;
    height: 22px;
    top: 420px;
    left: 19px;
  }
}
@media (max-width: 500px) {
  .ball-29-left {
    top: 423px;
    left: 9px;
  }
}

.blue-blur {
  display: block;
  width: 293px;
  height: 293px;
  background: #B8D2F7;
  filter: blur(97px);
  position: absolute;
  top: 550px;
  right: -85px;
  z-index: -1;
}
@media (max-width: 768px) {
  .blue-blur {
    width: 195px;
    height: 195px;
    top: 995px;
  }
}

.timetable {
  height: 145px;
  width: 503px;
  margin: 0 auto;
  border-spacing: 0;
}
@media (max-width: 600px) {
  .timetable {
    width: 370px;
  }
}
@media (max-width: 400px) {
  .timetable {
    width: 329px;
  }
}
@media (max-width: 360px) {
  .timetable {
    width: 270px;
  }
}
.timetable-header td {
  width: 167px;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #D5CFF5;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
}
@media (max-width: 600px) {
  .timetable-header td {
    font-size: 1.5rem;
  }
}
@media (max-width: 360px) {
  .timetable-header td {
    font-size: 1.2rem;
  }
}
.timetable-header td:nth-child(1) {
  border-radius: 20px 0 0 0;
  background: linear-gradient(90deg, #BBBBF0 0%, #D8A0FA 71.12%);
}
.timetable-header td:nth-child(2) {
  background: linear-gradient(90deg, #BBBBF0 0%, #D8A0FA 71.12%);
}
.timetable-header td:nth-child(3) {
  background: linear-gradient(90deg, #BBBBF0 0%, #D8A0FA 71.12%);
  border-radius: 0 20px 0 0;
}
.timetable-time {
  padding: 5px;
}
.timetable-time td {
  width: 167px;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #D5CFF5;
  color: #9B4EED;
  font-size: 1.8rem;
  font-weight: 700;
}
@media (max-width: 600px) {
  .timetable-time td {
    font-size: 1.5rem;
  }
}
@media (max-width: 360px) {
  .timetable-time td {
    font-size: 1.2rem;
  }
}
.timetable-time td:nth-child(1) {
  border-radius: 0 0 0 20px;
}
.timetable-time td:nth-child(3) {
  border-radius: 0 0 20px 0;
}

.junior-group {
  margin-top: 130px;
  margin-bottom: 156px;
}
@media (max-width: 500px) {
  .junior-group {
    margin-top: 58px;
    margin-bottom: 134px;
  }
}
.junior-group_title {
  font-size: 4rem;
  font-weight: 500;
  line-height: 6rem;
  text-align: center;
  width: 1000px;
  margin-left: 75px;
  margin-bottom: 28px;
}
@media (max-width: 1200px) {
  .junior-group_title {
    margin: 0 auto 28px;
  }
}
@media (max-width: 1100px) {
  .junior-group_title {
    font-size: 2.8rem;
    line-height: 5rem;
    width: auto;
  }
}
@media (max-width: 768px) {
  .junior-group_title {
    margin-bottom: 36px;
    line-height: 3.2rem;
    letter-spacing: 2px;
  }
}
@media (max-width: 500px) {
  .junior-group_title {
    margin-bottom: 29px;
    letter-spacing: 0;
  }
}
@media (max-width: 360px) {
  .junior-group_title {
    font-size: 2.4rem;
    margin-bottom: 15px;
  }
}
@media (max-width: 768px) {
  .junior-group_title_span {
    display: block;
  }
}
.junior-group_text {
  font-size: 3.2rem;
  font-weight: 500;
  position: relative;
  text-align: center;
  margin: 0;
}
@media (max-width: 1200px) {
  .junior-group_text {
    margin: auto;
  }
}
@media (max-width: 1100px) {
  .junior-group_text {
    font-size: 2.4rem;
  }
}
@media (max-width: 768px) {
  .junior-group_text {
    font-size: 2rem;
  }
}
.junior-group_text:before {
  content: "";
  width: 54px;
  height: 54px;
  background-image: url("../images/rhythmic-gimnastic.svg");
  position: absolute;
  top: -9px;
  left: 393px;
  z-index: -1;
}
@media (max-width: 1280px) {
  .junior-group_text:before {
    left: 317px;
  }
}
@media (max-width: 1100px) {
  .junior-group_text:before {
    width: 34px;
    height: 34px;
    background-size: 34px;
    left: 326px;
    top: -2px;
  }
}
@media (max-width: 1000px) {
  .junior-group_text:before {
    left: 269px;
  }
}
@media (max-width: 900px) {
  .junior-group_text:before {
    left: 211px;
  }
}
@media (max-width: 800px) {
  .junior-group_text:before {
    left: 169px;
  }
}
@media (max-width: 768px) {
  .junior-group_text:before {
    top: -7px;
    left: 137px;
  }
}
@media (max-width: 600px) {
  .junior-group_text:before {
    left: 92px;
  }
}
@media (max-width: 500px) {
  .junior-group_text:before {
    left: 44px;
  }
}
@media (max-width: 400px) {
  .junior-group_text:before {
    left: 32px;
  }
}
.junior-group__boxes {
  display: flex;
  gap: 14.7rem;
  margin-top: 78px;
  margin-left: 244px;
}
@media (max-width: 1200px) {
  .junior-group__boxes {
    gap: 0;
    justify-content: space-between;
    max-width: 700px;
    margin: 70px auto 0;
  }
}
@media (max-width: 600px) {
  .junior-group__boxes {
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }
}
@media (max-width: 500px) {
  .junior-group__boxes {
    margin-top: 50px;
  }
}
.junior-group__left-box {
  max-width: 270px;
  width: 270px;
  background: linear-gradient(197.55deg, #FF86F4 48.11%, #FFC7FC 108.6%);
  border-radius: 55px;
  text-align: center;
  transition: 0.3s linear;
}
.junior-group__left-box:hover {
  background: linear-gradient(175.51deg, #FF3DEC 3.64%, #FFBCFD 112.01%);
  box-shadow: 0 1px 29px rgba(255, 141, 237, 0.63);
}
.junior-group__left-box-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  position: relative;
  margin: 0;
  padding-top: 11.3rem;
}
.junior-group__left-box-title:before {
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../images/credit-card.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 36px;
  left: 106px;
}
.junior-group__left-box-price {
  font-size: 3rem;
  color: #fff;
  font-weight: 600;
  margin: 8px 0 27px;
}
.junior-group__left-box-link {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 60px;
  padding: 18px 32px;
  transition: 0.3s linear;
  display: inline-block;
  margin-bottom: 25px;
}
.junior-group__left-box-link:hover {
  background: linear-gradient(93.37deg, #7775E7 0%, #A93CF6 65.9%, #C41DFF 102.69%);
  border: 1px solid transparent;
  transition: 0.5s ease;
}
.junior-group__right-box {
  max-width: 270px;
  width: 270px;
  background: linear-gradient(197.55deg, #FF86F4 48.11%, #FFC7FC 108.6%);
  border-radius: 55px;
  text-align: center;
  transition: all 0.3s ease;
}
.junior-group__right-box:hover {
  background: linear-gradient(175.51deg, #FF3DEC 3.64%, #FFBCFD 112.01%);
  box-shadow: 0 1px 29px rgba(255, 141, 237, 0.63);
}
.junior-group__right-box-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  position: relative;
  margin: 0;
  padding-top: 11.3rem;
}
.junior-group__right-box-title:before {
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../images/one.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 39px;
  left: 112px;
}
.junior-group__right-box-price {
  font-size: 3rem;
  color: #fff;
  font-weight: 600;
  margin: 8px 0 27px;
}
.junior-group__right-box-link {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 60px;
  padding: 18px 32px;
  transition: 0.3s ease-in-out;
  display: inline-block;
  margin-bottom: 25px;
}
.junior-group__right-box-link:hover {
  background: linear-gradient(93.37deg, #7775E7 0%, #A93CF6 65.9%, #C41DFF 102.69%);
  border: 1px solid transparent;
  transition: 0.5s ease;
}
.junior-group__timetable {
  margin: 80px 26px 0 0;
  font-size: 3.6rem;
}
@media (max-width: 500px) {
  .junior-group__timetable {
    margin: 0;
  }
}
.junior-group__timetable-title {
  font-size: 3.6rem;
  color: #000;
  text-align: center;
  margin-bottom: 60px;
}
@media (max-width: 600px) {
  .junior-group__timetable-title {
    font-size: 2.4rem;
  }
}
@media (max-width: 500px) {
  .junior-group__timetable-title {
    margin: 44px 0 26px 0;
  }
}

.junior-group-circle {
  position: absolute;
  top: 40%;
  left: 184px;
  z-index: -1;
}
@media (max-width: 768px) {
  .junior-group-circle {
    top: 933px;
    left: 354px;
    transform: rotate(70deg);
  }
}
@media (max-width: 600px) {
  .junior-group-circle {
    top: 1242px;
    left: 295px;
  }
}
@media (max-width: 500px) {
  .junior-group-circle {
    top: 1111px;
    left: 139px;
  }
}

.pink-blur {
  position: absolute;
  top: 671px;
  left: -360px;
  z-index: -1;
}
@media (max-width: 768px) {
  .pink-blur {
    display: none;
  }
}
@media (max-width: 500px) {
  .pink-blur {
    display: block;
    width: 350px;
    height: 250px;
    top: 1922px;
    left: -136px;
  }
}

.junior-group-hexagon {
  position: absolute;
  bottom: -758px;
  right: -257px;
  z-index: -5;
}
@media (max-width: 600px) {
  .junior-group-hexagon {
    bottom: -586px;
    right: -192px;
  }
}

.junior-group-circle-right {
  position: absolute;
  bottom: -277px;
  right: -226px;
  z-index: -1;
}
@media (max-width: 1350px) {
  .junior-group-circle-right {
    bottom: -300px;
    right: 35px;
  }
}
@media (max-width: 768px) {
  .junior-group-circle-right {
    display: none;
  }
}

.ball-88 {
  position: absolute;
  top: 121px;
  left: -28px;
}
@media (max-width: 768px) {
  .ball-88 {
    display: none;
  }
}

.junior-group__ball-29 {
  position: absolute;
  top: 449px;
  left: 171px;
}
@media (max-width: 1100px) {
  .junior-group__ball-29 {
    display: none;
  }
}

.junior-group__ball-29-right {
  position: absolute;
  bottom: 12px;
  right: -38px;
}
@media (max-width: 1350px) {
  .junior-group__ball-29-right {
    bottom: -47px;
    right: 212px;
  }
}
@media (max-width: 768px) {
  .junior-group__ball-29-right {
    bottom: -86px;
    right: 195px;
  }
}
@media (max-width: 500px) {
  .junior-group__ball-29-right {
    bottom: -67px;
    right: 143px;
  }
}

.ball-43 {
  position: absolute;
  bottom: -167px;
  left: 4px;
}
@media (max-width: 768px) {
  .ball-43 {
    display: none;
  }
}

.about {
  background-image: url("../images/about-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
  height: 831px;
}
@media (max-width: 768px) {
  .about {
    height: 650px;
    background-position: bottom center;
  }
}
.about-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: 100%;
  margin-right: 48px;
}
@media (max-width: 768px) {
  .about-wrapper {
    flex-direction: row;
    justify-content: flex-start;
    width: 318px;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .about-wrapper {
    padding-left: 43px;
  }
}
.about__title {
  font-size: 4.5rem;
  font-weight: 500;
  color: #fff;
  line-height: 3.2rem;
  align-self: flex-end;
  margin: 350px 4px 10px 0;
  position: relative;
}
@media (max-width: 1280px) {
  .about__title {
    margin-top: 250px;
  }
}
@media (max-width: 1000px) {
  .about__title {
    margin: 200px 0 0 0;
  }
}
@media (max-width: 768px) {
  .about__title {
    margin-top: 85px;
    font-size: 2.8rem;
    line-height: 3rem;
    width: 300px;
  }
}
@media (max-width: 500px) {
  .about__title {
    margin-top: 108px;
  }
}
.about__title:before {
  content: "";
  display: block;
  width: 155px;
  height: 155px;
  background-image: url("../images/feedback.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: -46px;
  left: -143px;
}
@media (max-width: 1000px) {
  .about__title:before {
    display: none;
  }
}
.about__blockquote {
  align-self: flex-end;
  color: #fff;
  margin-left: 0;
  max-width: 530px;
  margin-right: 68px;
}
@media (max-width: 768px) {
  .about__blockquote {
    margin: 0;
  }
}
.about__blockquote-text {
  font-size: 3rem;
  line-height: 4.5rem;
}
@media (max-width: 768px) {
  .about__blockquote-text {
    font-size: 2rem;
    line-height: 3rem;
  }
}
.about__blockquote-name {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.8rem;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .about__blockquote-name {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
}
.about__blockquote-trainer {
  font-size: 1.8rem;
  line-height: 3.2rem;
  margin-top: 0;
}
@media (max-width: 768px) {
  .about__blockquote-trainer {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }
}

.photo-1 {
  position: absolute;
  left: -221px;
  bottom: 35px;
}
@media (max-width: 1200px) {
  .photo-1 {
    width: 350px;
    height: 400px;
    left: 52px;
    bottom: -339px;
  }
}
@media (max-width: 768px) {
  .photo-1 {
    width: 350px;
    height: 400px;
    left: 113px;
    bottom: -371px;
  }
}
@media (max-width: 500px) {
  .photo-1 {
    display: none;
  }
}

.photo-1-mob {
  display: none;
}
@media (max-width: 500px) {
  .photo-1-mob {
    display: block;
    position: absolute;
    left: 0;
    bottom: -431px;
    z-index: 4;
  }
}
@media (max-width: 360px) {
  .photo-1-mob {
    left: -30px;
  }
}

.about-circle {
  position: relative;
  right: -1147px;
  bottom: 130px;
}
@media (max-width: 1200px) {
  .about-circle {
    display: none;
  }
}

.blue-blur-2 {
  display: block;
  width: 293px;
  height: 293px;
  background: #B8D2F7;
  filter: blur(97px);
  position: absolute;
  bottom: 645px;
  left: -85px;
  z-index: -1;
}
@media (max-width: 768px) {
  .blue-blur-2 {
    display: none;
  }
}

footer {
  background-color: #000;
  position: relative;
  z-index: 5;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 36px 0;
}
@media (max-width: 768px) {
  .footer {
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
  }
}
@media (max-width: 500px) {
  .footer {
    gap: 52px 33px;
    padding: 32px 0 43px 0;
  }
}
.footer__socials {
  padding-left: 0;
  display: flex;
  gap: 10px;
  align-self: center;
}
.footer__social-item {
  list-style-type: none;
  padding-left: 0;
}
.footer_fb {
  background-image: url("../images/footer-facebook.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 40px;
  height: 40px;
}
.footer_vk {
  background-image: url("../images/footer-vk.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 40px;
  height: 40px;
}
.footer_inst {
  background-image: url("../images/footer-instagram.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 40px;
  height: 40px;
}

.studio-title {
  color: #fff;
  font-size: 1.6rem;
}

.studio-img {
  width: 114px;
  height: 46px;
}

.modal {
  font-size: 2.4rem;
  line-height: 36px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: -9000px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
}
.modal__container {
  max-width: 900px;
  background-color: #fff;
  padding-top: 78px;
}
@media (max-width: 768px) {
  .modal__container {
    width: 100%;
  }
}
.modal__items {
  max-width: 360px;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 400px) {
  .modal__items {
    width: 280px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
.modal__close {
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: inherit;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: -40px;
  right: 37px;
}
@media (max-width: 400px) {
  .modal__close {
    top: -40px;
    right: 1px;
  }
}
@media (max-width: 320px) {
  .modal__close {
    right: 19px;
  }
}
.modal__list {
  padding-left: 0;
  margin: 0;
}
.modal__item {
  list-style-type: none;
  border-top: 2px solid rgba(187, 187, 240, 0.2);
  padding: 16px 0 16px 0;
}
.modal__item:nth-child(3) {
  padding: 21px 0 22px 0;
}
.modal__item:nth-child(4) {
  padding: 17px 0 24px 0;
}
.modal__item:nth-child(5) {
  padding: 19px 0 26px 0;
}
.modal__item:nth-child(6) {
  padding: 29px 0 10px 0;
}
.modal__link {
  text-decoration: none;
  color: #9B4EED;
}
.modal__socials {
  display: flex;
  justify-content: space-around;
  max-width: 150px;
  margin: 0 auto;
  padding: 20px 0 31px 0;
}
.modal__social-list {
  list-style-type: none;
}
.modal__social-item {
  text-decoration: none;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  background-size: 20px 20px;
  transition: 0.3s;
}
.modal__fb {
  background-image: url("../images/facebook.svg");
  background-size: 18px 18px;
}
.modal__fb:hover {
  transform: scale(1.1);
}
.modal__vk {
  background-image: url("../images/vk.svg");
  background-size: 25px 18px;
}
.modal__vk:hover {
  transform: scale(1.1);
}
.modal__inst {
  background-image: url("../images/instagram.svg");
  background-size: 18px 18px;
}
.modal__inst:hover {
  transform: scale(1.1);
}

/*# sourceMappingURL=main.css.map */
